
@{
    ViewData["Title"] = "Concrete";
}

<h1>Concrete</h1>
<form method="post" asp-action="Concrete">
    <p>Length: <input name="length" value="30" /></p>
    <p>Width: <input name="width" value="0,3" /></p>
    <p>Higth: <input name="higth" value="3" /></p>
    <input type="submit" value="Send" />
</form>
