@model Element 

@{
    ViewData["Title"] = "Concrete";
}

<h1>Concrete</h1>
<form method="post" asp-action="ConcreteValue" asp-controller="Count">
    <input hidden name="Name" value="@Model.Name"/>
    <p>Длинна: <input name="length" value="30" /></p>
    <p>Ширина: <input name="width" value="0,3" /></p>
    <p>Высота: <input name="higth" value="3" /></p>
    <p>Стоимость работы: <input name="JobPrice" value="@Model.JobPrice"/></p>
    <p>Стоимость материала: <input name="MaterialPrice" value="@Model.MaterialPrice" /></p>
    <input type="submit" value="Посчитать" />
</form>
