@model IEnumerable<Element>

@{
    ViewData["Title"] = "Index";
}

@foreach (var el in Model)
{
    <h3><a asp-action="Distributor" asp-route-name="@el.Name">Посчитать сколько стоит @el.Name</a></h3>
}
