
@{
    ViewData["Title"] = "Roof";
}

<h1>Roof</h1>
<form method="post" asp-action="Roof">
    <p>Length: <input name="length" value="14" /></p>
    <p>Width: <input name="width" value="10" /></p>
    <p hidden>Higth: <input name="higth" value="1" /></p>
    <input type="submit" value="Send" />
</form>
