@model Element 

@{
    ViewData["Title"] = "Wall";
}

<h1>Wall</h1>
<form method="post" asp-action="WallValue" asp-controller="Count">
    <input hidden name="Name" value="@Model.Name" />
    <p>Length: <input name="length" value="30" /></p>
    <p>Width: <input name="width" value="0,3" /></p>
    <p>Higth: <input name="higth" value="3" /></p>
    <p>Стоимость работы: <input name="JobPrice" value="@Model.JobPrice" /></p>
    <p>Стоимость материала: <input name="MaterialPrice" value="@Model.MaterialPrice" /></p>
    <input type="submit" value="Посчитать" />
</form>
